@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.slick-arrow slick-prev {
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 100%;
}